{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    {# @todo list search results and taxonomy options here in small thumbs
    <div class="section row entries bg-primary section-no-margin-bottom"

        {% if taxonomytype is defined %}
            <h1>
                {{ __('Overview for') }}
                {% if taxonomy.options[slug] is defined %}
                    {{ taxonomy.options[slug] }}
                {% else %}
                    {{ slug }}
                {% endif %}
            </h1>
        {% endif %}


        {% if search is defined %}
            <h1>
                {{ __('Search results for <b> %search% </b>.', { '%search%': search|escape }) }}
            </h1>
        {% endif %}
    </div>
    #}

<div id="content" class="content section row">

    <div class="col-md-8 bg-base col-lg-8 col-xl-9">
        {# @todo Add category/chapters #}
        <div class="ribbon ribbon-highlight">
            <ol class="breadcrumb ribbon-inner">
                <li><a href="{{ paths.root }}">Home</a></li>
                {#<li><a href="">Features</a></li>#}
                {#<li class="active"></li>#}
            </ol>
        </div>

        <div class="entries">
        {% for record in records %}
            <article class="entry style-media media type-post">

                {% if record.image!="" %}
                    <figure class="media-object pull-left entry-thumbnail hidden-xs">

                        <!-- to disable lazy loading, remove data-src and data-src-retina -->
                        <img src="{{ thumbnail(record.image, 400, 260) }}" data-src="{{ thumbnail(record.image, 230, 230) }}" data-src-retina="{{ thumbnail(record.image, 230, 230) }}" width="230" height="230" class="" alt="{{ record.title }}">

                        <!--fallback for no javascript browsers-->
                        <noscript>
                            <img src="{{ thumbnail(record.image, 400, 260) }}" alt="{{ record.title }}">
                        </noscript>

                    </figure>
                {% endif %}

                <div class="media-body">
                    <header class="entry-header">
                        <h3 class="entry-title">
                            <a href="{{ record.link }}" rel="bookmark">{{ record.title }}</a>
                        </h3>

                        <div class="entry-meta">
                            {% set recdate = record.datepublish|localdate("%A %B %e, %Y") %}
                            <span class="author">by <a href="{{ paths.root }}">{{ record.user.displayname }}</a></span>
                            <span class="entry-date"><a href="{{ paths.root }}">{{ __('on %date%',{ '%date%': recdate }) }}</a></span>
                            {#<span class="category">In <a href="{{ paths.root }}">Category</a></span>#}
                        </div>
                    </header>

                    <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>
                    {% if record.introduction %}
                        <p>
                            {{ record.introduction }}
                            <a href="{{ record.link }}" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
                        </p>
                    {% elseif record.teaser %}
                        <p>
                            {{ record.teaser }}
                            <a href="{{ record.link }}" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
                        </p>
                    {% else %}
                        <p>
                            {{ record.excerpt(300) }}
                            <a href="{{ record.link }}" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
                        </p>
                    {% endif %}

                    {# {% include '_recordfooter.twig' with {record: record} %} #}
                </div>

            </article>

            <hr>

        {% else %}
            <article class="entry style-media media type-post">

                {% if search is defined %}

                    <p>
                        {{ __("No results found for '%search%'. Please try another search.", { '%search%': search|escape }) }}
                    </p>

                {% else %}

                    <div class="media-body">

                        <h2>No content found</h2>

                        <p>
                            Unfortunately, no content could be found. Try another page, or go to the
                            <a href="{{ paths.root }}">homepage</a>.
                        </p>

                    </div>

                {% endif %}

            </article>
        {% endfor %}
        </div>

        {# @todo add class "pagination" to <ul> #}
        {{ pager() }}


    </div>

    <!-- End Main Content -->

    {% include '_aside.twig' %}

</div><!--/#content-->


<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
